= render 'shared/menu'

.row
  .columns.small-7.small-centered
    .text-center{style: 'font-family: monospace;'}
      %h3{style: 'font-family: monospace;'}
        You have worked
      %h2{style: 'font-family: monospace;'}
        !
        = distance_of_time_in_words(current_user.total_worklog_duration_in_minutes).upcase
        !
        %hr/
.row
  .columns.small-7.small-centered
    %table
      %thead
        %tr
          %th
          %th type
          %th duration
          %th start time
          %th end time
          %th remark
          - @worklogs.each do |w|
            %tr
              %td
                = link_to '[X]', worklog_path(w.id), method: :delete
              %td
                = w.time_type.humanize.downcase
              %td
                = w.duration_in_minutes.to_s + " '"
              %td
                = w.starting_at.strftime("%b %d, %Y, %a %H:%M")
              %td
                = w.ending_at.strftime("%b %d, %Y, %a %H:%M")
              %td
                = w.remark.present? ? w.remark : 'n/a'
